1. Packages and libraries

In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm

from sklearn.cluster import KMeans

2. Loads

In [11]:
URL = 'C:/Users/Matheus Rodrigues/OneDrive/Área de Trabalho/portfolio/data-science-portfolio/ml-real-problems/customer segmentation/data/customer_segmentation_500k.csv'

In [12]:
data = pd.read_csv(URL, parse_dates=[3], infer_datetime_format=True)

C:\Users\Matheus Rodrigues\AppData\Local\Temp\ipykernel_19952\1019789020.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(URL, parse_dates=[3], infer_datetime_format=True)

In [13]:
data.head()

   customer_id  qtt_order  total_spent          last_order
0            0        272     90067.35 2022-10-23 09:00:00
1            1        825    194707.21 2022-09-28 09:00:00
2            2        132    224159.97 2022-06-07 19:00:00
3            3         62    287130.72 2022-01-25 09:00:00
4            4          4     71469.24 2022-07-01 18:00:00

In [14]:
print(data.dtypes)

customer_id             int64
qtt_order               int64
total_spent           float64
last_order     datetime64[ns]
dtype: object

In [15]:
data['last_order'] = data['last_order'].dt.date.sort_values(ascending=False)

3. Exploratory data analysis

In [16]:
data.head()

   customer_id  qtt_order  total_spent  last_order
0            0        272     90067.35  2022-10-23
1            1        825    194707.21  2022-09-28
2            2        132    224159.97  2022-06-07
3            3         62    287130.72  2022-01-25
4            4          4     71469.24  2022-07-01

In [17]:
data.shape

(500000, 4)

3.1 Data null

In [18]:
data.isna().value_counts()

customer_id  qtt_order  total_spent  last_order
False        False      False        False         500000
Name: count, dtype: int64

3.2 Indexação

In [19]:
# Indexa a coluna 'last_order' em 'data' 

data = data.set_index(keys=['last_order'])
data.head()

            customer_id  qtt_order  total_spent
last_order
2022-10-23            0        272     90067.35
2022-09-28            1        825    194707.21
2022-06-07            2        132    224159.97
2022-01-25            3         62    287130.72
2022-07-01            4          4     71469.24

In [20]:
data.tail()

            customer_id  qtt_order  total_spent
last_order
2022-09-25       499995        482    253253.34
2022-07-09       499996         44    122348.74
2022-07-15       499997         83     46623.55
2022-10-01       499998         49    140711.18
2022-05-16       499999         20    158831.36

In [21]:
data_U = data.value_counts()

4. Serie temporal